html {
    font-size:1.0em;
    position: relative;
    min-height: 100%;
    min-width:100%;
  }


body{
    background:url(../images/bg7.jpg);
    background-size:cover;
    background-position:top;
    min-height:100vh;
}


.contentCol{
    background:#ddd;
    opacity:.9;
    margin:0px auto;
}

header{
    text-align:center;
    /* background:rgba(255, 255, 255, .2); */
    padding-bottom:7px;
}

#headerImg{
    width:100%;
    padding:10px 0px;
}

.game{
    text-align:center;
}

.start{
    text-align:center;
}

.results{
    text-align:center;
}













@media (max-width: 575.98px) {
    #headerImg{
        width:100%;
    }


}


@media (min-width: 576px) and (max-width: 767.98px) { 
    #headerImg{
        width:75%;
    }
}


@media (min-width: 768px) and (max-width: 991.98px) { 
    #headerImg{
        width:70%;
    }
}


@media (min-width: 992px) and (max-width: 1199.98px) { 
    #headerImg{
        width:60%;
    }
}

@media (min-width: 1200px) { 
    #headerImg{
        width:50%;
    }
}

@media (min-width: 1400px) { 
    #headerImg{
        width:45%;
    }
}